<div class="p-3">
    <h2 mat-dialog-title>Eliminar Notificaciones</h2>
    <mat-dialog-content>
    Esta seguro de que quiere eliminar todas las notificaciones ?
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-center p-3">
    <button class="delete-accept m-1" mat-fab extended mat-dialog-close cdkFocusInitial (click)="deleteNotifications()">Si, Eliminar</button>
    <button class="delete-cancel m-1"  mat-fab extended mat-dialog-close>No, Cancelar</button>
    </mat-dialog-actions>
</div>